<p>analysis works!</p>

<div class="w-full">
  <div class="w-1/4 flex flex-row items-center gap-6">
    <input cdsText type="text" class="w-1/5" maxlength="1" />
    <input cdsText type="text" class="w-1/5" maxlength="1" />
    <input cdsText type="text" class="w-1/5" maxlength="1" />
    <input cdsText type="text" class="w-1/5" maxlength="1" />
    <input cdsText type="text" class="w-1/5" maxlength="1" />
  </div>
</div>

<ibm-grouped-bar-chart
  [options]="options"
  [data]="data"
></ibm-grouped-bar-chart>
