@keyframes shakeRowOnInvalid {
  0%,
  100% {
    transform: translateX(0);
  }
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shakeRowOnInvalid 0.5s;
}
