.base {
  display: flex;
  user-select: none;

  width: 43px;
  height: 58px;

  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: bold;

  background-color: #818384;

  border-radius: 4px;

  color: white;
}
