<div class="flex-1 flex flex-col h-full items-center relative">
  <wordle-notification />

  <div class="flex flex-col p-4 2xl:p-16 gap-[5px]">
    @for(wordleRow of rows; track $index) {
    <wordle-row
      class="w-min"
      [index]="$index"
      [letters]="rows[$index]"
      [solution]="solution()"
      [rowAttributes]="rowAttributes()[$index]"
      (gameOver)="handleGameOver($event)"
    />
    }
  </div>

  <wordle-keyboard
    class="w-full px-2"
    [letterStates]="keyboardLetterStates()"
    (wordleKeyboardPressed)="onWordleKeyboardPressed($event)"
  />
</div>
