@use "@carbon/styles/scss/config" with (
  $use-flexbox-grid: true,
  $font-path: "@ibm/plex"
);

@use "@carbon/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@carbon/charts-angular/styles.css";

html {
  @include styles.theme(styles.$white);
}
