@use "@carbon/styles/scss/config" with (
  $use-flexbox-grid: true,
  $font-path: "@ibm/plex"
);

@use "@carbon/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@carbon/charts-angular/styles.css";

html,
body {
  @include styles.theme(styles.$white);

  height: 100vh;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main > :not(router-outlet) {
  flex: 1;
  width: 100%;
}
