@keyframes flipLetterIncorrect {
  0% {
    background-color: transparent;
    border-color: var(--cds-border-subtle-02);

    transform: rotateX(0deg);
  }
  50% {
    background-color: transparent;
    border-color: var(--cds-border-subtle-02);

    transform: rotateX(90deg);
  }
  51% {
    background-color: var(--cds-border-strong-02);
    border-color: transparent;
  }
  100% {
    background-color: var(--cds-border-strong-02);
    border-color: transparent;

    transform: rotateX(0deg);
  }
}

@keyframes flipLetterSemiCorrect {
  0% {
    background-color: transparent;
    border-color: var(--cds-border-subtle-02);

    transform: rotateX(0deg);
  }
  50% {
    background-color: transparent;
    border-color: var(--cds-border-subtle-02);

    transform: rotateX(90deg);
  }
  51% {
    border-color: transparent;
    background-color: var(--cds-support-warning);
  }
  100% {
    border-color: transparent;
    background-color: var(--cds-support-warning);
    transform: rotateX(0deg);
  }
}

@keyframes flipLetterCorrect {
  0% {
    background-color: transparent;
    border-color: var(--cds-border-subtle-02);

    transform: rotateX(0deg);
  }
  50% {
    background-color: transparent;
    border-color: var(--cds-border-subtle-02);

    transform: rotateX(90deg);
  }
  51% {
    background-color: var(--cds-tag-border-green);
    border-color: transparent;
  }
  100% {
    background-color: var(--cds-tag-border-green);
    border-color: transparent;

    transform: rotateX(0deg);
  }
}

@keyframes bounceOnCorrectSolution {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-16px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popOnFilled {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.filled {
  animation: popOnFilled 0.1s;
}

.incorrect {
  animation: flipLetterIncorrect 0.75s;
  animation-delay: var(--delay-flip);
  animation-fill-mode: forwards;
}

.semi-correct {
  animation: flipLetterSemiCorrect 0.75s;
  animation-delay: var(--delay-flip);
  animation-fill-mode: forwards;
}

.correct {
  animation: flipLetterCorrect 0.75s;
  animation-delay: var(--delay-flip);
  animation-fill-mode: forwards;
}

.correct.bounce {
  z-index: 25;

  animation: flipLetterCorrect 0.75s var(--delay-flip) forwards,
    bounceOnCorrectSolution 0.5s calc(1500ms + var(--delay-bounce));
}
