<div
  class="flex select-none w-14 h-14 items-center justify-center text-3xl font-bold bg-transparent border-2 border-solid border-subtle-1 text-primary"
  [style.--delay-flip]="index() * 200 + 'ms'"
  [style.--delay-bounce]="index() * 100 + 'ms'"
  [class.filled]="!!letter()"
  [class.border-subtle-2]="!!letter()"
  [class.bounce]="attributes().isBouncing"
  [class.incorrect]="attributes().isIncorrect"
  [class.semi-correct]="attributes().isSemiCorrect"
  [class.correct]="attributes().isCorrect"
>
  <span>{{ letter() }}</span>
</div>
