@keyframes notificationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.notification {
  background-color: var(--cds-background-inverse);
  animation: notificationFadeOut 0.25s 1s forwards;
}
