.base {
  display: flex;
  user-select: none;

  width: 65px;
  height: 58px;

  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;

  background-color: #818384;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-radius: 4px;

  color: white;
}
